<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>

  <div class="fof position-absolute top-50 start-50 translate-middle text-center">

    <h1 class="display-1 mb-1 fw-normal text-secondary">404</h1>
    <h3 class="text-muted">Page not found...</h3>

    <a href="/" class="btn btn-outline-dark mt-4">
      Take me home
    </a>

  </div>